@model MC_Progreso1.Models.MCartagena

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>MCartagena</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="McID" />
            <div class="form-group">
                <label asp-for="McCedula" class="control-label"></label>
                <input asp-for="McCedula" class="form-control" />
                <span asp-validation-for="McCedula" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="McPromedioGlobal" class="control-label"></label>
                <input asp-for="McPromedioGlobal" class="form-control" />
                <span asp-validation-for="McPromedioGlobal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="McSegundoNombre" class="control-label"></label>
                <input asp-for="McSegundoNombre" class="form-control" />
                <span asp-validation-for="McSegundoNombre" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="McSoltero" /> @Html.DisplayNameFor(model => model.McSoltero)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="McFechaHoy" class="control-label"></label>
                <input asp-for="McFechaHoy" class="form-control" />
                <span asp-validation-for="McFechaHoy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
